.done-true {
	text-decoration: line-through;
	color: grey;
}

#limparConcluidas {
    color: #FFFFFF;
    text-decoration: none;
    float: right;
    cursor: pointer;
}

#limparConcluidas::after {
	clear: right;
}

#limparConcluidas:hover, #limparConcluidas:focus {
    color: #FFFFFF;
    text-decoration: underline;
}

#adicionarTarefaPlus {
    color: #FFFFFF;
    text-decoration: none;
    float: right;
    cursor: pointer;
}

#loaderDiv {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1100;
   background-color: white;
   opacity: .6;
}

.ajax-loader {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32px;
   margin-top: -32px;
   display: block;
}

header {
  text-align: center;
}

.rodape {
  text-align: right;
  font-family: verdana;
}